.CreateForm {
  display: flex;
  flex-direction: column;
  max-width: 75vw;
  margin-left: 7vh;
  gap: 6px;
}

form > textarea {
  line-height: 20px;
}
form {
  margin-bottom: 3rem;
}

.SubmitButtom {
  cursor: pointer;
  font-size: 2.5vh;
  margin-top: 20px;
  width: 10vw;
  min-width: 130px;
  height: 6vh;
  border-radius: 20px;
  color: white;
  background-color: black;
  transition: 0.2s ease-in-out;
}
.SubmitButtom:hover {
  color:black;
  background-color: white;
  

}

.genreCheckbox{
    margin-left:15px;
}
.labelCheckbox{
    margin-left:3px
}